@model MarkdownWeb.HtmlPage
@{
    ViewBag.Title = Model.Title;
}

<div class="doc-pages">
    @Html.Raw(Model.Body)
</div>
<div class="toc-container">
    <h1>TOC!</h1>
    @Html.Raw(Model.GetPartOrDefault("TableOfContents").Body)
</div>
<hr />
<a href="?editor=true">Edit page</a>
