@model MarkdownWeb.HtmlPage
@{
    ViewBag.Title = Model.Title;
}

<div class="markdown-web">
    @Html.Raw(Model.Body)
</div>

<div class="toc-container">
    <h1>TOC!</h1>
    @Html.Raw(Model.GetPartOrDefault("TableOfContents").Body)
</div>
<hr />

<a href="?editor=true">Edit page</a>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('pre code').each(function (i, block) {
                console.log(hljs, block)
                hljs.highlightBlock(block);
            });
        });
    </script>
}
