@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MarkdownWeb</h1>
    <p class="lead">The easiest way to generate homepages using markdown</p>
    <p><a href="@Url.Content("~/doc/")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div>
    
    The markdown files are located under <code>App_Data</code>. You can change the folder in the <code>MarkdownDocController</code> class.
</div>
