body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.markdown-web {
    margin-top: 30px;
    padding-right: 150px;
}

    .markdown-web img {
        max-width: 100%;
        border: 1px solid #000;
        margin-bottom: 10px;
        margin-top: 10px;
    }

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}
